flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-bcrypt==1.0.1
flask-migrate==4.0.7
psycopg2-binary==2.9.9
apscheduler==3.10.4
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
python-dotenv==1.0.1
gunicorn==22.0.0
playwright==1.44.0
pytz==2024.1
